; Remember to keep your configuration file safe. Keep config.ini
; in your .gitignore and copy config.ini.sample to config.ini and
; change your settings on a new install.
; Also make sure to keep file settings only readable for the user
; of the script. If you ever expose the script to the internet, keep
; the configuration file outside of the web folder.


; Settings for mail server and account

[mail]
; Some example hostname strings
; GMX: {imap.gmx.com/imap/ssl}INBOX
; Hotmail: {imap-mail.outlook.com:993/imap/ssl}INBOX
; GMail: {imap.gmail.com:993/imap/ssl}INBOX
hostname = "{domain.com/imap/ssl}"
folder = "INBOX"
username = "username"
password = "password"


; Files for logging
; logfile: for continous logging
; output: for the most recently processed mails

[file]
logfile = "log.csv"
output = "output.csv"


; Information for processing mails
; sender: The mail address for which we process mails
; archive: Mail folder where we store processed mails 
; fields: The fields in the mail that we want extracted, kept in a comma
;         separated list.
; delimiter: Delimiter used in the output file

[processing]
sender = "from@domain.com"
archive = "archive"
fields = "name,address,zip"
delimiter = ","
